name: Kepler Build

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  macos:
    runs-on: macos-latest
    steps:
      - name: Clone GIT repo
        uses: actions/checkout@v4

      - name: Install dependencies
        run: brew install cmake ninja

      - name: Build
        run: make

  ubuntu:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        cc: [gcc, clang]
        include:
          - cc: gcc
            cxx: g++
          - cc: clang
            cxx: clang++

    steps:
      - name: Clone GIT repo
        uses: actions/checkout@v4

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            build-essential cmake ninja-build \
            xorg-dev libx11-dev libxrandr-dev libxinerama-dev \
            libxcursor-dev libxi-dev wayland-protocols \
            libwayland-dev libxkbcommon-dev libgl1-mesa-dev

      - name: Build
        env:
          CC: ${{ matrix.cc }}
          CXX: ${{ matrix.cxx }}
        run: make

  windows:
    runs-on: windows-latest
    steps:
      - name: Clone GIT repo
        uses: actions/checkout@v4

      - name: Setup MSYS2
        uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          update: true
          install: >
            mingw-w64-x86_64-gcc
            mingw-w64-x86_64-cmake
            mingw-w64-x86_64-ninja
            make

      - name: Build
        shell: msys2 {0}
        run: make
