name: Kepler Build

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - run: brew install cmake ninja
      - run: make

  ubuntu:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        cc: [gcc, clang]
        include:
          - cc: gcc
            cxx: g++
          - cc: clang
            cxx: clang++

    steps:
      - uses: actions/checkout@v4

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            build-essential cmake ninja-build \
            xorg-dev libx11-dev libxrandr-dev libxinerama-dev \
            libxcursor-dev libxi-dev wayland-protocols \
            libwayland-dev libxkbcommon-dev libgl1-mesa-dev

      - name: Build
        env:
          CC: ${{ matrix.cc }}
          CXX: ${{ matrix.cxx }}
        run: make

  windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup MSYS2
        uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          update: true
          install: >
            mingw-w64-x86_64-gcc
            mingw-w64-x86_64-cmake
            mingw-w64-x86_64-ninja
            make

      - name: Build
        shell: msys2 {0}
        run: make

  emscripten:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4


      - name: Setup Emscripten
        uses: mymindstorm/setup-emsdk@v14
        with:
          version: latest

      - name: Clone raylib
        run: |
          git clone --depth=1 https://github.com/raysan5/raylib.git

      - name: Build raylib (Web)
        run: |
          cd raylib/src
          make PLATFORM=PLATFORM_WEB

      - name: Install raylib wasm
        run: |
          mkdir -p thirdparty/raylib/lib/wasm
          cp raylib/src/libraylib.web.a thirdparty/raylib/lib/wasm/libraylib.a

      - name: Configure (WASM)
        run: |
          mkdir build-wasm
          cd build-wasm
          emcmake cmake .. -DCMAKE_BUILD_TYPE=Release

      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3

      - name: Build (WASM)
        run: |
          cd build-wasm
          cmake --build . -j

